{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Untree.co" />
  <link rel="shortcut icon" href="favicon.png" />

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap5" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="{% static 'web/fonts/icomoon/style.css' %}" />
  <link rel="stylesheet" href="{% static 'web/fonts/flaticon/font/flaticon.css' %}" />

  <link rel="stylesheet" href="{% static 'web/css/tiny-slider.css' %}" />
  <link rel="stylesheet" href="{% static 'web/css/aos.css' %}" />
  <link rel="stylesheet" href="{% static 'web/css/style.css' %}" />

  <title>
    {% block title %} {% endblock %} | PlotPoint
  </title>

  <style>
    .first-letter,
    .fifth-letter {
      font-size: 48px;
      color: white;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg  shadow-sm" style="background-color: #005655;">
    <div class="container">
      <a class="navbar-brand fw-bold" href="{% url 'index' %}">
        <span class="first-letter">P</span>lot<span class="fifth-letter">P</span>oint
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white {% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle {% if request.path == '/properties/' %}active{% endif %}" href="#"
              id="propertiesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Properties
            </a>
            <ul class="dropdown-menu" aria-labelledby="propertiesDropdown">
              <li><a class="dropdown-item" href="#">Buy Property</a></li>
              <li><a class="dropdown-item" href="#">Sell Property</a></li>
              <li>
                <a class="dropdown-item dropdown-toggle" href="#">Dropdown</a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li><a class="dropdown-item" href="#">Sub Menu One</a></li>
                  <li><a class="dropdown-item" href="#">Sub Menu Two</a></li>
                  <li><a class="dropdown-item" href="#">Sub Menu Three</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'services' %}">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'contact' %}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'profile' %}"><span class="icon-user me-1"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% if messages %}
  {% for message in messages %}
    <div class="alert 
      {% if message.tags == 'success' %}alert-success
      {% elif message.tags == 'error' or message.tags == 'danger' %}alert-danger
      {% elif message.tags == 'warning' %}alert-warning
      {% else %}alert-info
      {% endif %} alert-dismissible fade show" role="alert">
      
      {{ message }}
      
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}


  {% block body %}
  {% endblock %}

  <div class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="widget">
            <h3>Contact</h3>
            <address>43 Raymouth Rd. Baltemoer, London 3910</address>
            <ul class="list-unstyled links">
              <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
              <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
              <li>
                <a href="mailto:info@mydomain.com">info@mydomain.com</a>
              </li>
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="widget">
            <h3>Sources</h3>
            <ul class="list-unstyled float-start links">
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Vision</a></li>
              <li><a href="#">Mission</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy</a></li>
            </ul>
            <ul class="list-unstyled float-start links">
              <li><a href="#">Partners</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Creative</a></li>
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="widget">
            <h3>Links</h3>
            <ul class="list-unstyled links">
              <li><a href="#">Our Vision</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>

            <ul class="list-unstyled social">
              <li>
                <a href="#"><span class="icon-instagram"></span></a>
              </li>
              <li>
                <a href="#"><span class="icon-twitter"></span></a>
              </li>
              <li>
                <a href="#"><span class="icon-facebook"></span></a>
              </li>
              <li>
                <a href="#"><span class="icon-linkedin"></span></a>
              </li>
              <li>
                <a href="#"><span class="icon-pinterest"></span></a>
              </li>
              <li>
                <a href="#"><span class="icon-dribbble"></span></a>
              </li>
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->

      <div class="row mt-5">
        <div class="col-12 text-center">
          <!-- 
              **==========
              NOTE: 
              Please don't remove this copyright link unless you buy the license here https://untree.co/license/  
              **==========
            -->

          <p>
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            . All Rights Reserved. &mdash; Designed with love by
            <a href="https://untree.co">Untree.co</a>
            <!-- License information: https://untree.co/license/ -->
          </p>
          <div>
            Distributed by
            <a href="https://themewagon.com/" target="_blank">themewagon</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.site-footer -->

  <!-- Preloader -->
  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <script src="{% static 'web/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'web/js/tiny-slider.js' %}"></script>
  <script src="{% static 'web/js/aos.js' %}"></script>
  <script src="{% static 'web/js/navbar.js' %}"></script>
  <script src="{% static 'web/js/counter.js' %}"></script>
  <script src="{% static 'web/js/custom.js' %}"></script>
</body>

</html>