{% extends 'web/auth_base.html' %}

{% block title %}
Forgot-Password
{% endblock %}

{% block body %}
<!-- FORGOT PASSWORD FORM -->
<div class="text-center" style="padding:50px 0">
    <div class="text-center" style="padding:50px 0">
    <div id="header-logo">
  Plot<span class="fifth-letter">P</span>oint
</div>
	<div class="logo">forgot password</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="forgot-password-form" class="text-left">
			<div class="etc-login-form">
				<p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
			</div>
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="fp_email" class="sr-only">Email address</label>
						<input type="text" class="form-control" id="fp_email" name="fp_email" placeholder="email address">
					</div>
				</div>
				<div class="text-center">
                    <button type="submit" class="btn btn-green">Submit</button>
                    <div class="etc-login-form">
                        <p>already have an account? <a href="{% url 'login' %}">login here</a></p>
                        <p>new user? <a href="{% url 'register' %}">create new account</a></p>
                    </div>
                </div>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>
{% endblock %}